<section id="consulting" class="contact section has-pattern">
    <div class="container">
        <div class="contact-inner">
            <h2 class="title  text-center">Contact</h2>
            <p class="intro  text-center">Have a few questions? Need a little help getting up and running? <br/>You can get free help from the Containium open source community.</p>
            <div class="author-message">
                <div class="profile">
                  <img class="img-responsive" src="{{ site.baseurl }}/images/profile.jpg" alt="" />
                </div><!--//profile-->
                <div class="speech-bubble">
                    <h3 class="sub-title">Come talk to us!</h3>
                    <p>Love it? Hate it? We’d like to know... Maybe. &nbsp; Try us at the Gitter chat room. <a target="_blank" rel="nofollow" href="https://gitter.im/containium/containium"><img src="https://badges.gitter.im/Join%20Chat.svg"></a></p>
                    <h2 class="sub-title offset-header">Commercial support</h2>
                    <p>We think community chat rooms are great, but perhaps you need something a little more serious? If you and your company are thinking of using Containium in production, we can help you out. Providing support, answering your questions, diagnose and patch bugs, etc. <br>Need to streamline some of your services and deployments? We can help develop custom Reactor Systems.</p>
                    <a class="btn btn-cta-primary" href="mailto:info@containium.com" target="_blank"><i class="fa fa-envelope-o"></i> E-mail us today</a>
                </div><!--//speech-bubble-->
            </div><!--//author-message-->
        </div><!--//contact-inner-->
    </div><!--//container-->
</section><!--//contact-->
