<header id="header" class="header">
  <div class="container">
      <h1 class="logo pull-left">
          <a class="site-title{% if page.title == 'Home' %} scrollto{% endif %}" href="{{ site.baseurl }}/#promo">
              <span class="logo-title">{{ site.title }}</span>
              <img style="margin-top: -4px" height="37" src="{{ site.baseurl }}/images/logo.svg" alt=""/>
          </a>
      </h1><!--//logo-->
      <nav id="main-nav" class="main-nav navbar-right" role="navigation">
          <div class="navbar-header">
              <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button><!--//nav-toggle-->
          </div><!--//navbar-header-->
          <div class="navbar-collapse collapse" id="navbar-collapse">
              <ul class="nav navbar-nav">
                  <li class="active nav-item sr-only"><a class="scrollto" href="{{ site.baseurl }}/#top">Home</a></li>
                  <li class="nav-item"><a{% if page.title == "Home" %} class="scrollto"{% endif %} href="{{ site.baseurl }}/#about">About</a></li>
                  <li class="nav-item"><a{% if page.title == "Home" %} class="scrollto"{% endif %} href="{{ site.baseurl }}/#docs">Get Started</a></li>
                {% for page in site.pages %}
                  {% if page.title and page.title != "Home" and page.title != "About" %}
                  <li class="nav-item"><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
                  {% endif %}
                {% endfor %}
                  <li class="nav-item last"><a{% if page.title == "Home" %} class="scrollto"{% endif %} href="{{ site.baseurl }}/#consulting">Contact</a></li>
              </ul>
          </div>
      </nav>
  </div>
</header>
