    <!-- ******LICENSE****** --> 
    <section id="license" class="license section">
        <div class="container">
            <div class="license-inner">
            <h2 class="title text-center">License</h2>
                <div class="info">
                    <p>The Containium source code is provided under the <a rel="nofollow" href="https://www.mozilla.org/en-US/MPL/2.0/" target="_blank">Mozilla Public License 2.0</a><br>
                    Systems (like Cassandra, ElasticSearch, Kafka, Ring, ...) may use libraries that have other licenses.</p>
                    <p>© Copyright 2013-2017, the Containium Project Contributors.</p>
                </div><!--//info-->
            </div><!--//license-inner-->
        </div><!--//container-->
    </section><!--//how-->
