    <!-- ******PROMO****** -->
    <section id="promo" class="promo section offset-header">
        <div class="container text-center">
            <h2 class="title"><span class="containium" style="text-align: right"><!--a href="/containium/"-->Containium<!--/a--></span><img src="/images/logo.svg" alt=""><span class="reactor" style="text-align: left"><!--a href="/reactor/"-->Reactor<!--/a--></span></h2>
            <p class="intro">{{ site.tagline }}, or Application Server As A Library</p>
            <div class="btns">
                <a class="btn btn-cta-primary scrollto" href="#docs" target="_blank">Start now<i class="fa fa-rocket"></i></a>
                <a class="btn btn-cta-secondary" rel="nofollow" href="https://github.com/containium/containium" title="{{ site.github_username }}"><i class="fa fa-github"></i>Get Code</a>
            </div>
            <ul class="meta list-inline">
                {% if site.github_username %}
                <li></li>
                {% endif %}
                <li><a class="btn btn-cta-primary" href="/learn/" target="_blank">Full Documentation</a></li>
            </ul><!--//meta-->
        </div><!--//container-->
        <div class="social-media">
            <div class="social-media-inner container text-center">
                <ul class="list-inline">
                    <li class="facebook-like">
                         <div class="fb-like" data-href="http://containium.org/" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
                    </li><!--//facebook-like-->
                    <li class="twitter-tweet">
                        <a href="https://twitter.com/share" class="twitter-share-button" data-hashtags="clojure">Tweet</a>
                    </li><!--//twitter-tweet-->
                    <li class="twitter-follow">
                        <a href="https://twitter.com/containium" class="twitter-follow-button" data-show-count="false">Follow @containium</a>
                    </li><!--//twitter-follow-->
                </ul>
            </div>
        </div>
    </section><!--//promo-->

    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>